@{
    ViewBag.Title = "Sharester > About";
}

<h2>About</h2>
<p>
    Sharester brings you a friendly platform to access your Hyd-Chat alias! You can do all kind of stuff what you would do on hyd-chat in very easy way!
</p>