@{
    ViewBag.Title = "Sharester > Buy";
}

<div class="view" id="SearchTemplate">
    <label>Search Query</label>
    <input id="SearchQuery" type="text" />
    <label>Category</label>
    <select id="SearchCategory">
        <option>Furniture</option>
        <option>Decoration</option>
        <option>Sports</option>
        <option>Electronics</option>
        <option>Others</option>
        <option>All</option>
    </select>
    <button id="SearchSubmit">Submit</button>
</div>

<!--Search Results-->
<div id="SearchResults" class="view viewHidden">

</div>