@{
    ViewBag.Title = "Sharester > DomesticHelp";
}

Location: <b>Maseed Banda<img src="../Content/images/downarrow.png" style="width: 20px;height: 20px;" /></b>

<select id="SearchCategoryDomesticHelp">
    <option>Cook</option>
    <option>Maid</option>
    <option>Plumber</option>
    <option>Electrician</option>
    <option>News Paper guy</option>
    <option>Milk guy</option>
    <option>Others</option>
</select>
<hr/>
<div id="domesticHelpList">
    <div class="cook">
        <p><b>Name:</b> Vijay</p>
        <p><b>Cooks: </b> North Indian cuisine</p>
        <p><b>Phone no:</b> 8790412343</p>
        <p><b>Comments:</b> Reliable, good in cooking.</p>
        <hr />
    </div>
    <div class="cook">
        <p><b>Name:</b> Dharmendra</p>
        <p><b>Cooks: </b> South Indian cuisine</p>
        <p><b>Phone no:</b> 8008562547</p>
        <p><b>Comments:</b> Cooks well.</p>

        <hr />
    </div>
    <div class="cook">
        <p><b>Name:</b> Tinku</p>
        <p><b>Cooks: </b> North Indian cuisine</p>
        <p><b>Phone no:</b> 8008-753-208</p>
        <p><b>Comments:</b> Reliable, good in cooking.</p>

        <hr />
    </div>
    <div class="cook">
        <p><b>Name:</b> Sunil</p>
        <p><b>Cooks: </b> North Indian, Chinese/Itallian cuisine</p>
        <p><b>Phone no:</b> 08686056801</p>
        <p><b>Comments:</b>cooks good. All kind of food</p>

        <hr />
    </div>
    <div class="cook">
        <p><b>Name:</b> Vijay</p>
        <p><b>Cooks: </b> North Indian cuisine</p>
        <p><b>Phone no:</b> 8790412343</p>
        <p><b>Comments:</b> Reliable, good in cooking</p>

        <hr />
    </div>
    <div class="cook">
        <p><b>Name:</b> Vijay</p>
        <p><b>Cooks: </b> North Indian cuisine</p>
        <p><b>Phone no:</b> 8790412343</p>
        <p><b>Comments:</b> Reliable, good in cooking</p>
        <hr />
    </div>
    <div class="maid">
        <p><b>Name:</b> Shyama</p>
        <p><b>Works: </b> Cleaning utensiles, sweeping etc.</p>
        <p><b>Phone no:</b> 9730412343</p>
        <p><b>Comments:</b> well behaved.</p>
        <hr />
    </div>
    <div class="maid">
        <p><b>Name:</b> Kamla</p>
        <p><b>Works: </b> Cleans toilet, sweeping, gardening etc.</p>
        <p><b>Phone no:</b> 8990412343</p>
        <p><b>Comments:</b> Good.</p>
        <hr />
    </div>
</div>
<button class="ui-corner-all">Add</button>