@{
    ViewBag.Title = "Sharester > RealEstate";
}

Location: <b>Hyderabad<img src="../Content/images/downarrow.png" style="width: 20px;height: 20px;"/></b>
<hr/>
<div id="add1">
    <p><span><b>Type:</b> 3BHK</span> </p>
    <p><span><b>For:</b> Rent</span></p>
    <p><b>Cost:</b> 15000 Rs/-</p>
    <p><b>Location:</b> Maseed Banda</p>
    <p><b>Description:</b> Good locality, 24hr water supply, backup electricity and all facilities avaialble.</p>
    <p><img class="ui-corner-all" src="../Content/images/3bhk1.jpg" /></p>
    <p><img class="ui-corner-all" src="../Content/images/room1.jpg" /></p>
    <p><img class="ui-corner-all" src="../Content/images/room2.jpg" /></p>
</div>
<hr />
<div id="add1">
    <p><span><b>Type:</b> 3BHK</span> </p>
    <p><span><b>For:</b> Rent</span></p>
    <p><b>Cost:</b> 25000 Rs/-</p>
    <p><b>Location:</b> Gachibowli</p>
    <p><b>Description:</b> Good locality, 24hr water supply, backup electricity and all facilities avaialble.</p>
    <p><img class="ui-corner-all" src="../Content/images/3bhk2.jpg" /></p>
    <p><img class="ui-corner-all" src="../Content/images/room5.jpg" /></p>
</div>
<hr />
<div id="add1">
    <p><span><b>Type:</b> 3BHK</span> </p>
    <p><span><b>For:</b> Rent</span></p>
    <p><b>Cost:</b> 25000 Rs/-</p>
    <p><b>Location:</b> Madhapur</p>
    <p><b>Description:</b> Good locality, 24hr water supply, backup electricity and all facilities avaialble.</p>
    <p><img class="ui-corner-all" src="../Content/images/3bhk3.gif" /></p>
    <p><img class="ui-corner-all" src="../Content/images/room3.jpg" /></p>
    <p><img class="ui-corner-all" src="../Content/images/room4.jpg" /></p>
</div>
<hr />
<div id="add1">
    <p><b>Type:</b> 2BHK </p>
    <p><b>For:</b> Sale</p>
    <p><b>Cost:</b> 1500000 Rs/-</p>
    <p><b>Location:</b> Kondapur</p>
    <p><b>Description:</b> Independent lake side house, gated community, all facilities</p>
    <p><img class="ui-corner-all" src="../Content/images/2bhk.jpg" /></p>
</div>

<button class="ui-corner-all">Add</button>