@{
    ViewBag.Title = "Sharester > Suggestions";
}
<select id="SearchCategory">
    <option>Technical</option>
    <option>Health</option>
    <option>Education</option>
    <option>Sports</option>
    <option>Travel</option>
    <option>Entertainments</option>
    <option>All</option>
</select>

<b>Q. Problem with Z420</b>
<p>I recently got a new machine with an SSD in it. The default OS installed on the 7.2k disks and not the SSD. Trouble is during the PXE boot, the disk is not detected by the wizard for some strange reason.
    Has anyone faced a similar problem ? Any pointers on how to fix it ?
</p>

<b>Comments. </b>
<hr/>
<p>Not recieved yet</p>
<br/>


<b>Q. Packers & Movers within City.</b> 
<p>
    I am looking for a reliable and reasonably priced packers & movers to move my household goods within City.

    Please little ‘r’ me if you have any pointers.
</p>
<b>Comments.</b>
<hr/>
<p>
    I have utilized service of Vinayaka packers couple of times during last 5 years , they  are reliable and very cheap.

    Contact person : Narasimha Reddy # 9866156577
</p>
<hr />

<b>Q. Indexation for MF and Equity</b>
<p>
    I have incurred losses for MF (non-debt) sold last year. Camsonline generated stmt shows two columns – Long term with Indexation and Long term without Indexation.
    1.       Which value should be used? And where it fits in ITR2?
    Cost of acquisition without indexation
    Cost of Improvement without indexation
    2.       Where to get indexation cost for equity sales? Any site which gives this info or Indexation is not applicable for equity gains?

</p>
<b>Comments.</b>
<hr/>
<p>
    Because you have already made loss, it will be better if you consider indexation as your loss will look even bigger and you can carry them forward for future adjustments towards long term gains.

    Indexation is applicable for both – debt and equity. It’s applicable for gold/other ETF as well.

    I could not find an official source but multiple websites have same number and hence they can be trusted. You may find the index for different years at below links:

    http://www.lessmytax.com/cost-inflation-index/
    http://www.simpletaxindia.net/2014/06/cost-inflation-index-for-financial-year.html

</p>

<hr/>
<p>
    Camsonline does the good job for MFs adding inflation index.
    Found a site with excel which helps http://www.simpletaxindia.net/2013/07/capital-gain-tax-calculator-and.html

    Any idea which section in ITR2 needs to be filled? CG tab has following choices -
    From sale of bonds or debenture (other than capital indexed bonds issued by Government)
    From sale of listed securities or units or zero coupon bonds where proviso under section 112(1) is applicable
    (taxable @@ 10% without indexation benefit)
    From sale of assets where B1 to B6 above are not applicable

</p>

<hr/>
<p>
    Another question – how can we fill multiple MFs held for different tenure and values ? In the excel, we can find only 1 section for all MF LTCG!
</p>
<hr />
<p>
    Ok, here is what I learnt –
      Indexation is not applicable to equity MFs. There is a tab EI where you need put LTCG for MF and equity
      If you incur loss in long term MF, bad luck cannot offset it against anything
      In EI tab show interest from back also, you can claim 10000 deduction under 80TTA in VIA tab

    For you question, club all MFs help for more than 12 months and show that under EI. For STCG use CG tab.

    Disclaimer: learning on the way, so can be wrong somewhere.

    Question: I paid the tax using ITNS 280 as self-assessment tax (300). Where to show this in ITR2 or does this needs to be shown at time of submit on income tax website somewhere?

</p>